<div id="who-ami" class="bg-wave-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 cont-pic">
                <img src="assets/face1.JPG" class="rounded-circle sm-pic float-right" alt="...">
            </div>
            <div class="col-lg-6 col-sm-12 title-subtitle">
                <div class="hello-h">
                    <h1>Hi there!</h1>
                </div>
                <div class="subtitle footer-font">
                    <p>
                        {{subtitle}}
                    </p>
                </div>
                <div class="contact-me">
                    <a href="https://www.linkedin.com/in/amir-baum-1a3102132/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/colocba" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.facebook.com/amir.baum"><i class="fab fa-facebook"></i></a>
                    <a href="mailto:colocba@gmail.com"><i class="far fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
