<div id="who-ami" class="bg-wave-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 cont-pic">
                <img src="https://www.pinkvilla.com/files/styles/contentpreview/public/brad-pitt-superhero-movie.jpg?itok=SXDMMWZX" class="rounded-circle sm-pic float-right" alt="...">
            </div>
            <div class="col-lg-6 col-sm-12 title-subtitle">
                <div class="hello-h">
                    <h1>Hi there!</h1>
                </div>
                <div class="subtitle footer-font">
                    <p>
                        {{subtitle}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
