.projects {
    background-color: #E7F2F8;
    height: auto;
    padding-bottom: 20px;
}

hr {
    border-top: 2px solid rgb(66, 131, 206);
    width: 25%;
}

.pad-left-half {
    padding-left: auto !important;
    padding-right: auto !important;
}