<div *ngFor="let project of projects" class="card text-center centered-in-col" style="width: 18rem;">
    <img src="{{project.picUrl}}" class="card-img-top" alt="...">
    <div class="card-body">
            <div class="card-title">
                    {{project.title | titlecase}}
            </div>
            <p class="card-text">{{project.description}}</p>
            <a href="{{project.url}}" class="btn btn-primary" target="_blank">Visit the page</a>
    </div>
    <div class="card-footer">
        <i *ngIf="project.isWebAdapted" class="fas fa-desktop card-icons" placement="bottom" ngbTooltip="Desktop adapted"></i>
        <i *ngIf="project.isMobileAdapted" class="fas fa-mobile-alt card-icons" placement="bottom" ngbTooltip="Mobile adapted"></i>
        <!-- <i *ngIf="project.hasBackend" class="fas fa-server card-icons" placement="bottom" ngbTooltip="Includes database"></i> -->
    </div>
</div>